@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');


body {
  font-family: 'Poppins', sans-serif; 
}

.hamburger{
  position: absolute;
  right: 45px;
  top: 20px;
  font-size: 50px;
  cursor: pointer;
  padding-top: 10px;
  color: #fff;
}

.navtop{
  width: auto;
  height: 135px;
  background-color: #2d4471;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 135px;
  position: fixed;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d4471;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  padding: 5px 50px;
  line-height: 50px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: goldenrod;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #fff;
  padding-right: 3px;
}

@media screen and (max-height: 480px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  .hamburger{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  
}
